* {
    font-family: 'Time New Roman'
}

body {
    display: flex;
    flex-direction: column;
    line-height:0.7;
  }    

html {
    font-size: 62.5%;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    border: 0.3rem solid black;
    
}

.picture {
    position: relative;
    margin-top: 0.5rem; 
    margin-right: 118rem;
    height: auto;
    width: 10%;
    z-index: 2;
    border: 0.5rem solid black;
    opacity: 0.8;
    padding: 0;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background-header.jpg");
    z-index: 1;
    opacity: 0.8;   
}

h1 {
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 7rem;
    margin-top: 0.5rem;
    font-size: 3rem;
}

.header-container {
    display: flex;
    justify-content: flex-end;
}
.header-flex-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    
}

.line-element {
    padding: 1rem;
    margin-left: auto;
    font-size: 2rem;
    text-decoration: underline;
}

nav a {
    color: #0d0e0d;
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: #ee0606;
}

main, footer {
  font-size: 2rem;  
}

h2 {
    background-color: rgb(215, 215, 219);
    text-align: center;
    border-bottom: 0.3rem solid black;
    
}

p {
    text-indent: 1em;
    line-height: 3rem;
}

.work-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10rem;
    
}

.work-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 10rem;
    row-gap: 2.5rem;
    padding: 0.5rem;

}
.img-horiseon {
    display: flex;
    height: auto;
    width: 75%;
    margin: 1rem;
    border: 0.5rem solid black;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}


figcaption p {
    font-size: 1.2rem;
    line-height: 2rem;
}


.work-img {
    width: 75%;
    height: auto;
    border: 0.5rem solid black;
   margin: 0.5rem;
   opacity: 0.8;
}

footer h2 {
    font-size: 2.5rem;    
}

.flex-box {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.contact-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-line-element {
    padding: 1rem;
    margin-right: 2rem;
}

@media screen and (max-width: 40rem) {
    .header-flex-container {
        flex-wrap: wrap;
    }
h1 {
    font-size: 2.5rem;
}    

.line-element {
    font-size: 1.5rem;
}

main, footer {
    font-size: 1.3rem;  
  }

}

@media screen and (max-width: 76.8rem) {
  .work-container {
    display: flex;
    flex-wrap: wrap;
  }  
  .contact-flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

}

