* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }    

html {
    font-size: 62.5%;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    font-size:5rem;
    justify-content: center;
    border: 5px solid black;
    margin-bottom: 0.5rem;
}

.logo {
    position: relative;
    margin-top: 20px; 
    margin-right: 1200px;
    height: auto;
    width: 20%;
    z-index: 2;
    border: 0.5rem solid black;
    opacity: 0.9;
    padding: 0;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background-header.jpg");
    z-index: 1;
    opacity: 0.8;   
}

h1 {
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 30px;
    margin-top: 20px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
}
.header-flex-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    
}

.line-element {
    padding: 10px;
    margin-left: auto;
    font-size: 2.5rem;
    text-decoration: underline;
}

nav a {
    color: #0d0e0d;
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: #ee0606;
}

main, footer {
  font-size: 2rem;  
}

h2 {
    background-color: rgb(215, 215, 219);
    text-align: center;
    border-bottom: 3px solid black;
}

p {
    text-indent: 1em;
    line-height: 3rem;
}

.work-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 100px;
    
}

.work-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 100px;
    row-gap: 25px;

}
.img-horiseon {
    display: flex;
    height: auto;
    width: 75%;
    margin: 1rem;
    border: 5px solid black;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

.figure-caption {
    position: absolute;
    top: 750px;
    left: 150px;
    z-index: 2;
    text-decoration:underline;
}
figcaption p {
    font-size: 1.2rem;
    line-height: 2rem;
}


.work-img {
    width: 75%;
    height: auto;
    border: 8px solid black;
}

footer h2 {
    font-size: 2.5rem;    
}

.flex-box {
    display: flex;
    justify-content: center;
}

.contact-flex-container {
    display: flex;
    justify-content: center;
    margin-right: 10rem;
}

.contact-line-element {
    padding: 1rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .work-container {
    display: flex;
    flex-wrap: wrap;
  }  
  .logo {
    width: 50%;
  }
  .contact-flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

}